# Rust
/target
Cargo.lock

# Visual Studio Code
.vscode/*.*

# Visual Studio
.vs/**
*.diagsession

# Ionide
.ionide/**

# Parol
/data/**/*.svg
/data/**/*.png
/data/**/*.dot
/crates/parol-ls/data/actual/**/*.par

/examples/**/*.svg
/examples/**/*.png
/examples/**/*.dot
/examples/**/*.txt
!/examples/**/*test.txt

/src/**/*.svg
*.svg
*.dot

# mdbook
/book/book/**

