[env]
PAROL_TARGET = "${CARGO_MAKE_CRATE_TARGET_DIRECTORY}/release/parol"

[tasks.build_parol]
workspace = false
command = "cargo"
args = ["build", "--release", "--bin", "parol"]

[tasks.generate_examples]
workspace = false
dependencies = ["build_parol"]
run_task = { name = [
    "generate_calc",
    "generate_calc_auto",
    "generate_list",
    "generate_list_auto",
    "generate_oberon_0",
    "generate_scanner_states",
    "generate_boolean_parser",
    "generate_keywords",
    "generate_keywords2"
    ], parallel = true }

[tasks.generate_parol]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building parol..."
${PAROL_TARGET} -f ./src/parser/parol-grammar.par -e ./src/parser/parol-grammar-exp.par -p ./src/parser/parol_parser.rs -a ./src/parser/parol_grammar_trait.rs -t ParolGrammar -m parser::parol_grammar -g
'''

[tasks.generate_calc]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building Calc example..."
${PAROL_TARGET} -f ../../examples/calc/calc.par -e ../../examples/calc/calc-exp.par -p ../../examples/calc/calc_parser.rs -a ../../examples/calc/calc_grammar_trait.rs -t CalcGrammar -m calc_grammar
'''

[tasks.generate_calc_auto]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building CalcAuto example..."
${PAROL_TARGET} -f ../../examples/calc_auto/calc.par -e ../../examples/calc_auto/calc-exp.par -p ../../examples/calc_auto/calc_parser.rs -a ../../examples/calc_auto/calc_grammar_trait.rs -t CalcGrammar -m calc_grammar -g
'''

[tasks.generate_list]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building List example..."
${PAROL_TARGET} -f ../../examples/list/list.par -e ../../examples/list/list-exp.par -p ../../examples/list/list_parser.rs -a ../../examples/list/list_grammar_trait.rs -t ListGrammar -m list_grammar
'''

[tasks.generate_list_auto]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building ListAuto example..."
${PAROL_TARGET} -f ../../examples/list_auto/list.par -e ../../examples/list_auto/list-exp.par -p ../../examples/list_auto/list_parser.rs -a ../../examples/list_auto/list_grammar_trait.rs -t ListGrammar -m list_grammar -g
'''

[tasks.generate_oberon_0]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building Oberon-0 example..."
${PAROL_TARGET} -f ../../examples/oberon_0/oberon_0.par -e ../../examples/oberon_0/oberon_0-exp.par -p ../../examples/oberon_0/oberon_0_parser.rs -a ../../examples/oberon_0/oberon_0_grammar_trait.rs -t Oberon0Grammar -m oberon_0_grammar
'''

[tasks.generate_scanner_states]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building Scanner States example..."
${PAROL_TARGET} -f ../../examples/scanner_states/scanner_states.par -e ../../examples/scanner_states/scanner_states-exp.par -p ../../examples/scanner_states/scanner_states_parser.rs -a ../../examples/scanner_states/scanner_states_grammar_trait.rs -t ScannerStatesGrammar -m scanner_states_grammar
'''

[tasks.generate_boolean_parser]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building Boolean Parser example..."
${PAROL_TARGET} -f ../../examples/boolean_parser/boolean-parser.par -e ../../examples/boolean_parser/boolean-parser-exp.par -p ../../examples/boolean_parser/boolean_parser.rs -a ../../examples/boolean_parser/boolean_grammar_trait.rs -t BooleanGrammar -m boolean_grammar
'''

[tasks.generate_keywords]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building Keywords example..."
${PAROL_TARGET} -f ../../examples/keywords/keywords.par -e ../../examples/keywords/keywords-exp.par -p ../../examples/keywords/keywords_parser.rs -a ../../examples/keywords/keywords_grammar_trait.rs -t KeywordsGrammar -m keywords_grammar
'''

[tasks.generate_keywords2]
private = true
cwd = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/crates/parol"
script_runner = "@shell"
script = '''
echo "Building Keywords2 example..."
${PAROL_TARGET} -f ../../examples/keywords2/keywords.par -e ../../examples/keywords2/keywords-exp.par -p ../../examples/keywords2/keywords_parser.rs -a ../../examples/keywords2/keywords_grammar_trait.rs -t KeywordsGrammar -m keywords_grammar
'''
